*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: seashell;
}
#box{
    display: flex;
    flex-direction: column;
    height:250px;
    width:250px;
    background-color: rgb(40, 114, 90);
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    
}
